body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  line-height: 18px;
  color: rgb(0, 0, 0);
  background-color: rgb(240, 255, 255);
  background-size: 100%;
  
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}